/* Responsive Design CSS for Smartphone Plus */
/*--- tab navigations */
.tab-nav {
    flex-wrap: nowrap !important;
    white-space: nowrap !important;
    overflow-x: scroll !important;
    min-height: 1.6rem !important;
}
.tab-nav > button {
    height: 1.6rem;
    padding: 0px 16px;
}
#settings > div.tab-nav button {
    height: auto;
}
#tabs {
    background-color: var(--background-fill-primary);
    margin-top: 1.6rem;
}
#tabs > .tab-nav {
    background-color: var(--background-fill-primary) !important;
    margin-top: -1.6rem;
    z-index: 10000;
}
.gradio-container, .tabitem {
    padding: 0.5rem 0.2rem !important;
}
/*--- prompt area */
#txt2img_prompt textarea,
#img2img_prompt textarea {
    height: 12rem !important;
}
/*--- generate button */
#txt2img_generate_box,
#img2img_generate_box,
#extras_generate_box {
    display: none !important;
}
/*--- result screen */
#txt2img_results,
#img2img_results {
    margin: 0 !important;
}

/*--- i2i original image */
.contain[uitype="default"] #mode_img2img>.tab-nav {
    display: none !important;
}
.contain[uitype="default"] #mode_img2img>.tabitem>.gap {
    flex-direction: row !important ;
}
#img2img_image,
#img2img_sketch,
#img2maskimg, 
#inpaint_sketch {
    height: auto !important;
    aspect-ratio: 1 / 1 !important;
}
#img2maskimg canvas {
    width: auto !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
}
.contain[uitype="default"] #img2img_image,
.contain[uitype="default"] #img2img_sketch,
.contain[uitype="default"] #img2maskimg, 
.contain[uitype="default"] #inpaint_sketch {
    min-width: min(120px, 100%) !important;
    width: 120px !important;
}
/*--- i2i copy buttons */
#img2img_copy_to_img2img > button,
#img2img_copy_to_inpaint > button,
#img2img_copy_to_sketch > button,
#img2img_copy_to_inpaint_sketch > button {
    flex: 1 1 0 !important;
    min-width: 0 !important;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
}
/*--- i2i copy buttons */
.contain[uitype="default"] #img2img_copy_to_img2img,
.contain[uitype="default"] #img2img_copy_to_inpaint,
.contain[uitype="default"] #img2img_copy_to_sketch,
.contain[uitype="default"] #img2img_copy_to_inpaint_sketch{
    flex-direction: column !important ;
    gap: 0.2rem !important;
    pointer-events: none;
}

/*--- i2i resize mode buttons */
#img2img_settings fieldset {
    display: flex;
    flex-flow: row wrap !important;
}
#img2img_settings fieldset > .wrap {
    width: 100%;
    gap: 0.2rem;
}
#img2img_settings fieldset > .wrap > label {
    flex: 1 1 0 !important;
    min-width: 0 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--button-small-text-size) !important;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    border-color: var(--checkbox-border-color);
}
#img2img_settings fieldset > .wrap > label.selected {
    border-width: 0 0 2px 0 !important;
    border-color: var(--checkbox-border-color-selected) !important;
}
#img2img_settings fieldset > .wrap > label > input {
    display: none !important;
}

#resize_mode > .wrap > label > span {
    display: none !important;
}
#resize_mode > .wrap > label:nth-child(1)::after {
    content: "Resize";
}
#resize_mode > .wrap > label:nth-child(2)::after {
    content: "Crop";
}
#resize_mode > .wrap > label:nth-child(3)::after {
    content: "Fill";
}
#resize_mode > .wrap > label:nth-child(4)::after {
    content: "Upscale";
}
#img2img_mask_mode > .wrap > label > span {
    display: none !important;
}
#img2img_mask_mode > .wrap > label:nth-child(1)::after {
    content: "masked";
}
#img2img_mask_mode > .wrap > label:nth-child(2)::after {
    content: "not masked";
}


/*--- checkpoint and lora cards */
#txt2img_lora_cards > .card,
#txt2img_checkpoints_cards > .card, 
#img2img_lora_cards > .card,
#img2img_checkpoints_cards > .card {
    height: 6rem;
    width: 100%;
    margin: 0 !important;
    font-size: 75% !important;
}
#txt2img_checkpoints_dirs > button,
#txt2img_lora_dirs > button,
#img2img_checkpoints_dirs > button,
#img2img_lora_dirs > button {
    height: 1.6rem;
}
/*--- Hidden parts */
#txt2img_extra_tabs>.tab-nav,
#img2img_extra_tabs>.tab-nav,
.extra-networks-controls-div {
    display: none;
}
#txt2img_extra_tabs>.tabitem,
#img2img_extra_tabs>.tabitem {
    padding: 0 !important;
    border: none !important;
}
#tab_txt2img > .gap,
#tab_img2img > .gap {
    gap: 0;
}


/* UI switching */
.contain[uitype="nega"] #sspp-switch-nega {
    background-color: #ccc !important;
}
.contain[uitype="rendering"] #sspp-switch-rendering {
    background-color: #ccc !important;
}
.contain[uitype="sampling"] #sspp-switch-sampling {
    background-color: #ccc !important;
}
.contain[uitype="textsnippet"] #sspp-textsnippet {
    background-color: #ccc !important;
}

.contain[uitype="checkpoints"] #sspp-checkpoints {
    background-color: #ccc !important;
}
.contain[uitype="lora"] #sspp-lora {
    background-color: #ccc !important;
}
.contain[uitype="batch"] #sspp-switch-batch {   
    background-color: #ccc !important;
}
.contain[uitype="size"] #sspp-size {
    background-color: #ccc !important;
}
.contain[uitype="clip-t2i"] #sspp-clip-t2i {
    background-color: #ccc !important;
}
.contain[uitype="clip-i2i"] #sspp-clip-i2i {
    background-color: #ccc !important;
}
.contain[uitype="clip-out"] #sspp-clip-out {
    background-color: #ccc !important;
}

/* Show/Hide elements based on UI type */
.contain[uitype="size"] #sspp-size-selector {
    display: flex;
}
.contain[uitype="textsnippet"] #sspp-text-selector {
    display: flex;
}
.contain[uitype="clip-t2i"] #sspp-clip-selector {
    display: flex;
}
.contain[uitype="clip-i2i"] #sspp-clip-selector {
    display: flex;
}
.contain[uitype="clip-out"] #sspp-clip-selector {
    display: flex;
}


.sspp-submenu {
    display: none !important;
}
.contain[uitype="submenu"] .sspp-submenu,
.contain[uitype="checkpoints"] .sspp-submenu,
.contain[uitype="lora"] .sspp-submenu,
.contain[uitype="batch"] .sspp-submenu,
.contain[uitype="clip-t2i"] .sspp-submenu,
.contain[uitype="clip-i2i"] .sspp-submenu,
.contain[uitype="clip-out"] .sspp-submenu {
    display: flex !important;
}
.contain[uitype="submenu"] #sspp-submenu-open,
.contain[uitype="checkpoints"] #sspp-submenu-open,
.contain[uitype="lora"] #sspp-submenu-open,
.contain[uitype="batch"] #sspp-submenu-open,
.contain[uitype="clip-t2i"] #sspp-submenu-open,
.contain[uitype="clip-i2i"] #sspp-submenu-open,
.contain[uitype="clip-out"] #sspp-submenu-open {
    background-color: #ccc !important;
}

.sspp-texteditor {
    display: none !important;
}
.contain[uitype="default"] .sspp-texteditor,
.contain[uitype="nega"] .sspp-texteditor {
    display: flex !important;
}


/*
#txt2img_settings,
#img2img_settings,
*/
#quicksettings,
#txt2img_prompt_row,
#img2img_prompt_row,
#txt2img_results,
#img2img_results,

#txt2img_tools,
#txt2img_neg_prompt_row,
#txt2img_actions_column, 
#img2img_neg_prompt_row,
#img2img_actions_column,

#txt2img_seed_row,
#txt2img_cfg_scale,
#resize_mode,
#soft_inpainting_enabled,
#img2img_denoising_strength,
#mode_img2img,
#img2img_seed_row,
#img2img_cfg_scale,
#img2img_mask_blur,
#img2img_mask_alpha,
#img2img_settings fieldset#img2img_inpainting_fill,
#img2img_settings fieldset#img2img_inpaint_full_res,
#img2img_inpaint_full_res_padding,

#sampler_selection_txt2img,
#txt2img_accordions,
#txt2img_column_size,
#txt2img_dimensions_row,
#txt2img_column_batch,
#txt2img_override_settings_row,
#txt2img_script_container,
#sampler_selection_img2img,
#img2img_label_copy_to_img2img,
#img2img_label_copy_to_sketch,
#img2img_label_copy_to_inpaint,
#img2img_label_copy_to_inpaint_sketch,
#img2img_accordions,
#img2img_column_size,
#img2img_dimensions_row,
#img2img_column_batch,
#img2img_override_settings_row,
#img2img_script_container {
    display: none;
}

.contain[uitype="default"] #txt2img_results,
.contain[uitype="default"] #img2img_results,
.contain[uitype="default"] #txt2img_prompt_row,
.contain[uitype="default"] #txt2img_cfg_scale,
.contain[uitype="default"] #txt2img_seed_row,
.contain[uitype="default"] #img2img_prompt_row,
.contain[uitype="default"] #img2img_seed_row,
.contain[uitype="default"] #img2img_cfg_scale {
    display: flex;
}
.contain[uitype="default"] #mode_img2img,
.contain[uitype="default"] #img2img_denoising_strength {
    display: block;
}

.contain[uitype="nega"] #txt2img_results,
.contain[uitype="nega"] #img2img_results,
.contain[uitype="nega"] #txt2img_tools,
.contain[uitype="nega"] #txt2img_neg_prompt_row,
.contain[uitype="nega"] #txt2img_actions_column, 
.contain[uitype="nega"] #img2img_neg_prompt_row,
.contain[uitype="nega"] #img2img_actions_column {
    display: flex;
}

.contain[uitype="rendering"] #txt2img_results,
.contain[uitype="rendering"] #img2img_results,
.contain[uitype="rendering"] #txt2img_seed_row,
.contain[uitype="rendering"] #txt2img_cfg_scale,
.contain[uitype="rendering"] #txt2img_column_size,
.contain[uitype="rendering"] #txt2img_dimensions_row,
.contain[uitype="rendering"] #resize_mode,
.contain[uitype="rendering"] #soft_inpainting_enabled,
.contain[uitype="rendering"] #img2img_seed_row,
.contain[uitype="rendering"] #img2img_cfg_scale,
.contain[uitype="rendering"] #img2img_column_size,
.contain[uitype="rendering"] #img2img_dimensions_row,
.contain[uitype="rendering"] #img2img_mask_blur,
.contain[uitype="rendering"] #img2img_mask_alpha,
.contain[uitype="rendering"] #img2img_settings fieldset#img2img_inpainting_fill,
.contain[uitype="rendering"] #img2img_settings fieldset#img2img_inpaint_full_res,
.contain[uitype="rendering"] #img2img_inpaint_full_res_padding {
    display: flex;
}
.contain[uitype="rendering"] #mode_img2img,
.contain[uitype="rendering"] #img2img_denoising_strength {
    display: block;
}

.contain[uitype="size"] #txt2img_column_size,
.contain[uitype="size"] #txt2img_dimensions_row,
.contain[uitype="size"] #img2img_column_size, 
.contain[uitype="size"] #img2img_dimensions_row {
    display: flex;
}

.contain[uitype="sampling"] #txt2img_results,
.contain[uitype="sampling"] #img2img_results,
.contain[uitype="sampling"] #sampler_selection_txt2img,
.contain[uitype="sampling"] #txt2img_accordions,
.contain[uitype="sampling"] #txt2img_override_settings_row,
.contain[uitype="sampling"] #txt2img_script_container,
.contain[uitype="sampling"] #sampler_selection_img2img,
.contain[uitype="sampling"] #img2img_accordions,
.contain[uitype="sampling"] #img2img_override_settings_row,
.contain[uitype="sampling"] #img2img_script_container {
    display: flex;
}

.contain[uitype="batch"] #txt2img_results,
.contain[uitype="batch"] #img2img_results,
.contain[uitype="batch"] #img2img_column_batch,
.contain[uitype="batch"] #txt2img_column_batch {
    display: flex;
}

.contain[uitype="checkpoints"] #quicksettings {
    display: flex;
}
.contain[uitype="checkpoints"] #tabs>.tab-nav {
    display: none;
}
.contain[uitype="submenu"] #txt2img_prompt_row,
.contain[uitype="submenu"] #img2img_prompt_row,
.contain[uitype="lora"] #txt2img_prompt_row,
.contain[uitype="lora"] #img2img_prompt_row,
.contain[uitype="textsnippet"] #txt2img_prompt_row,
.contain[uitype="textsnippet"] #img2img_prompt_row,
.contain[uitype="clip-t2i"] #txt2img_prompt_row,
.contain[uitype="clip-t2i"] #img2img_prompt_row,
.contain[uitype="clip-i2i"] #txt2img_prompt_row,
.contain[uitype="clip-i2i"] #img2img_prompt_row,
.contain[uitype="clip-out"] #txt2img_prompt_row,
.contain[uitype="clip-out"] #img2img_prompt_row {
    display: flex;
}

#lightboxModal,
#modalImage {
    z-index: 10000 !important;
}


/* Allow vertical scrolling when entering fullscreen (Mobile & Desktop) */
html:fullscreen, html:-webkit-full-screen,
body:fullscreen, body:-webkit-full-screen,
.contain:fullscreen, .contain:-webkit-full-screen,
:fullscreen, :-webkit-full-screen {
    overflow-y: auto !important;
    -webkit-overflow-scrolling: touch !important;
    height: auto !important;
    overscroll-behavior: auto !important;
}


